
/*************Navbar*******/
:root{
  --primary-white:#fff;
  --primary-silver:#C0C0C0;
  --primary-dark:rgba(255,255,255,0);
}
.nav{
  z-index: 1;
}
.navbar{
  z-index: 1;
	position: sticky;
}
.logo{
  width: 10.25rem;
  height: 6rem;
}
/****na links****/
.nav a.nav-link{
  font-weight: 100;
  letter-spacing: 0.0365rem;
  cursor: pointer;
  
}
nav ul li{
  text-transform: uppercase;
  
}
.navbar-nav >li >a{
 color: var(--primary-white);
 margin-left: 0.75rem;
 margin-right: 0.75rem;
 z-index: 1;
}
.navbar-brand{
  max-width: 13.5rem;
  padding: 0 !important;
  height: 6rem !important;
  border-top: 0.1875rem solid var(--primary-dark);
  z-index: 1;
}

.container{
  padding: 0 !important;
}
.navbar-nav >li > a.active, .navbar-nav >li > a.active:focus{
  border-top: 0.1875rem solid var(--primary-silver);
}
.navbar-nav >li > a:hover{
  border-top: 0.1875rem solid var(--primary-silver);
  color: var(--primary-silver);
}

/**********HEADER******/
.header-wrapper{
  position: relative;
  background: url(header-background.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
}
.main-info{
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1;
}
.main-info h1{
  color: #ffffff;;
  font-size: 4rem;
}
.typed-text{
  font-size: 3rem;
  color: #d3d3d3;;
}

/***header button***/
.btn-main-offer{
  border: 1px solid 	#fbfbfb;
  border-radius: 7px;
  padding: 0.625rem 0.75rem 0.75rem 0.75rem;
  color: var(--primary-white);
  margin-top: 2rem;
  text-decoration: none;
  background-color:var(--primary-dark);
}

/****particles**/
/* .data-generated{
  z-index: 2 !important;
} */
.btn-main-offer:hover{
  color: rgb(255, 255, 255);
  border: 1px solid 	#9400D3;
  font-weight: 10rem;
}
/*********about****/

.about{
  padding: 6rem 3rem 5rem 3rem;
  background: #f8f8f8;
}
.row{
  display: flex;
  justify-content: space-around;
}
.row .column{
  width: 40%;
}
.column .tabs{
  display: flex;   
}
.single-tab{
  background: white;
  margin-right: 10px;
  cursor: pointer;
}
.single-tab h2{
  display:block;
  padding: 10px 16px;
  border-radius: 4px;
  color: #191717;
  font-size: 14px;
  font-weight: 600;
}
.about-img{
  position: relative;
  background-image: url(C:\Users\HP\OneDrive\Desktop\react_learning\src\components\my-profile.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  height: 550px;
  width: 100%;
}
.content{
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  display: none;
}


.active-content{
  display: block;
}
.active-tab{
  background: #18dcff;
  position: relative;
}
.active-tab::before{
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  border-color: #18dcff transparent transparent transparent;
}
.active-tab h2{
  color: rgb(13, 13, 13);
}
.content h2{
  font-size: 40px;
  font-weight: 700;
  line-height: 1.4;
  margin-bottom: 1rem;
}
.content p{
  padding-bottom: 1rem;
  font-size: 16px;
  line-height: 1.8;
  font-weight: 400;
  color: rgb(0, 0, 0);
}
.content h3{
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 1rem;
}
/* Skills CSS */
.skills-row{
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.skills-column{
  margin-bottom: 30px;
  margin-right: 20px;
}
.progress-wrap h3{
  font-size: 14px !important;
  margin-bottom: 10px;
  font-weight: 700;
  text-transform: uppercase;
}
.progress{
  height: 8px;
  background: rgba(0,0,0,.05);
  overflow: visible;
}
.progress-bar{
  width: 80%;
  height: 8px;
  background: #18dcff;
  line-height: 1.2;
  position: relative;
  border-radius: 2px;
}
.progress-bar span{
  position: absolute;
  top: -30px;
  right: 0;
  font-size: 16px;
  font-weight: 400;
  color: #18dcff;
}
.PhotoShop{
  width: 88%;
}
.Javascript{
  width: 85%;
}
.Designer{
  width: 90%;
}
/* Experience CSS */
.exp-column h3{
  margin-bottom: 10px;
}
.exp-column span{
  font-weight: 500;
  color: #18dcff;
}
.exp-column p{
 margin-top: 10px;
}
@media screen and (max-width:768px) {
  .about{
      padding: 2rem 1rem 3rem 1rem;
  }
  .row{
      display: flex;
      flex-direction: column;
  }
  .about-img{
      height: 500px;
  }
  .row .column{
      width: 100%;  
  }
  .tabs{
      padding-top: 3rem;
  }
  .skills-row{
      grid-template-columns: 1fr;
  }
}
.about{
  position: relative;
  background: url(C:\Users\HP\OneDrive\Desktop\react_learning\src\aboutbackground.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: rgb(9, 9, 9);
}

